<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WpfServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WpfServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44316/WpfService.asmx" binding="basicHttpBinding"
          bindingConfiguration="WpfServiceSoap" contract="WpfService.WpfServiceSoap"
          name="WpfServiceSoap" />
    </client>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>